{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Easy Neural Network</title>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/bootstrap.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/fontAwersome.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/template.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/dataTables.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main.css' %}">
    
    <!--<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/bootstrap.min.css' %}">-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    {% csrf_token %}
    <script type="text/javascript">
    // using jQuery
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    var isAdmin = false;
    {% if user.is_superuser %}
      isAdmin = true;
    {% endif %}
    </script>
    {% block header %} {% endblock %}
</head>
<body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
  
      <a class="navbar-brand mr-1" style="font-size: 1.15rem;" href="{% url 'index' %}">Easy Neural Network</a>
  
      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Navbar Search -->
      <div id="userNameLabel" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div>
            {% if user.is_authenticated %}
            <span>Welcome {{ user.username | capfirst}}</span> 
          {% else %}
          <a href="{% url 'login' %}">You are not logged in</a>
          {% endif %}
        </div>        
      </div>
  
      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
          <a href="{% url 'logout' %}">
              <!--<i id="logOutIcon" class="fas fa-power-off"></i>-->
              <i id="logOutIcon" class="fas fa-sign-out-alt"></i>
          </a>
      </ul>
  
    </nav>
  
    <div id="wrapper">
  
      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <!-- <li class="nav-item">
          <a class="nav-link" href="">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
        </li> -->
        <li class="nav-item {% if request.get_full_path == "/listDatasets/" or request.get_full_path == "/uploadView/" %} active {% endif %}">
          <a class="nav-link" href="{% url 'listDatasets' %}">
            <i class="fas fa-fw fa-table"></i>
            <span>Datasets</span></a>
        </li>
        <li class="nav-item {% if request.get_full_path == "/listNeuralNetwork/" %} active {% endif %}">
          <a class="nav-link" href="{% url 'listNeuralNetwork' %}">
            <i class="fas fa-project-diagram"></i>
            <span>Neural Network</span></a>
        </li>
        <!--Custom-->
        {% if user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link" href="/admin">
              <i class="fas fa-users"></i>
              <span>Manage Users</span>
            </a>
        </li>
        {% endif %}
        <!--End Custom-->
      </ul>
  
      <div id="content-wrapper">
  
        <div class="container-fluid">
  
            <div id="msjErr" class="alert alert-dismissible alert-danger" style="display: none;">
                <i class="fa fa-times-circle"></i>
                <strong id="errorBoldText"></strong> <span id="errorText"></span>
            </div>
        
            <div id="msjCorrect" class="alert alert-dismissible alert-success" style="display: none;">
                <i class="fa fa-check-circle"></i>
                <strong id="correctBoldText"></strong> <span id="correctText"></span>
            </div>

            {% if messageOk %}
            <div class="msjCorrect alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-check-circle"></i>
                <strong></strong> <span>{{messageOk}}</span>
            </div>
            {% endif %}

            {% if messageErr %}
            <div class="msjErr alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-times-circle"></i>
                <strong></strong> <span>{{messageErr}}</span>
            </div>
            {% endif %}

            {% if secondaryMessageErr %}
            <div class="msjErr alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-times-circle"></i>
                <strong></strong> <span>{{secondaryMessageErr}}</span>
            </div>
            {% endif %}

            {% if secondaryMessageWarning %}
            <div class="msjWarning alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="fas fa-exclamation-triangle"></i>
                <strong></strong> <span>{{secondaryMessageWarning}}</span>
            </div>
            {% endif %}
        
            <div class="mainBlock">
                {% block mainBlock %} {% endblock %}
            </div>
         
        </div>
        <!-- /.container-fluid -->
  
        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Easy Neural Network - Óscar Servia González</span>
            </div>
          </div>
        </footer>
  
      </div>
      <!-- /.content-wrapper -->
  
    </div>
    <!-- /#wrapper -->
  
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
  
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  
    <!-- Core plugin JavaScript-->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
  
    <!-- Page level plugin JavaScript-->
    <script src="{% static 'js/Chart.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.js' %}"></script>
  
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/stepForm.js' %}"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
    <script src="{% static 'js/main.js' %}"></script>
  
  </body>


</html>