<!DOCTYPE html>
<html>
    <head>
    </head>
<body>

<h2>Modal Login Form {{number}}</h2>

<div id="id01" class="modal">
  
  <form class=" animate" action="/action_page.php">


    <div class="container">
      <label for="uname"><b>Username</b></label>
      <br> 
      <input type="text" placeholder="Enter Username" name="uname" required>
      <br><br>   
      <label for="psw"><b>Password</b></label>
      <br> 
      <input type="password" placeholder="Enter Password" name="psw" required>
      <br><br>   
      <button type="submit">Login</button>
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>


</body>
</html>
